<!DOCTYPE html>
<html lang="en">
	<head>	
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#474143"/>
		<meta name="description" content="CMD Amsterdam Minor Web Github Explorer"/>

		<link href="/manifest.json" rel="manifest">

		<title>Github Org explorer</title>

		<style>*{box-sizing:border-box}body{font-family:sans-serif;background-color:#474143;margin:0}a,body{color:#e6e6e6}footer,footer a,main section>div a,nav,nav a{color:#474143}footer,nav{display:flex;justify-content:flex-end;background-color:#ffc636;margin:0}footer ul,nav ul{padding:0;margin:0;display:flex;list-style:none}footer ul li,nav ul li{padding:1em 2em}main{min-height:100vh}main section>*{margin:1em auto;max-width:45rem;display:block}main section>div{background-color:#e6e6e6;padding:1em;border-radius:.2em;color:#474143}</style>
		<link media="all" rel="stylesheet" href="/css/style.min.css">
		<script src="/js/client.min.js" defer></script>

		<script>
			if ('serviceWorker' in navigator) {
				navigator.serviceWorker.register('/sw.js');
			}
		</script>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/repos">Repos</a></li>
			</ul>
		</nav>


