<!DOCTYPE html>
<html lang="en">
	<head>	
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Github Org explorer</title>

		<link rel="stylesheet" href="/css/style.css">
		<script src="/js/client.js"></script>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/repos">Repos</a></li>
			</ul>
		</nav>


