<% include head.ejs %>

<main>
	<section id="index">
		<div>
			<h1>Github Organisation Explorer</h1>
			<p>Discover irrelevant metadata on the repositories of an organisation.</p>
		</div>
	</section>
</main>

<% include foot.ejs %>
