<% include head.ejs %>

<main>
	<section id="repos">
		<h1>Repos</h1>
		<% if (locals.repos) { %>
			<% for(var i=0; i < locals.repos.length; i++) { %>
				<div>
					<a href="/repos/<%- locals.repos[i].name %>"><%- locals.repos[i].name %></a>
				</div>
			<% } %>
		<% } %>
	</section>
</main>

<% include foot.ejs %>
